@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: black;
  padding-top: 4rem;
}

html body {
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;
}

nav {
  background-color: #111111;
  z-index: 1024;
  position: sticky;
}
